<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>horror em foco</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/e57ae712d0.js" crossorigin="anonymous"></script>
</head>

  
  

    <div class="main">
        
 
   
    
        <div class="title">
          <div class="redesSociais">
        <p class="wats"><i class="fab fa-whatsapp"></i><span>whatsupp</span></p>
        <p class="face"><i class="fab fa-facebook"></i><span>facebook</span></p>
        <p class="insta"><i class="fab fa-instagram"></i><span>instagram</span></p>
     </div>
        <div class="logo"> 
             <img src="/imagens/logo.png" alt="">
      
        </div>
    
           
     </div>
     <div class="imagem_main">
        <img src="/imagens/poster.png" alt="">
      
     </div>

    
   </div>
  <div class="menu-container">
    <div class="menu-principal">MENU</div>
     <div class="rotas">
     
     <div class="home">
        <a href="/">HOME</a>
    </div>
      
    
    <div class="inserir">
        <a href="/inserir">INSERIR</a>
    </div>
    
      <div class="destaque">
        <a href="/destaque">DESTAQUE</a>
    </div>
    
    <div class="listarFilmes">
        <a href="/listar">LISTAR</a>
    </div>
    <div class="deletar">
        <a href="/deletar">DELETAR</a>
    </div>
    <div class="deletarMateria">
        <a href="/deletarMateria">DELETAR MATÉRIA</a>
    </div>
    <div class="deletarDestaque">
        <a href="/deletarDestaque">DELETAR DESTAQUE</a>
    </div>
    <div class="atualizar">
        <a href="/atualizar">ATUALIZAR</a>
    </div>
    <div class="atualizarMateria">
        <a href="/atualizarMateria">ATUALIZAR MATÉRIA</a>
    </div>
    <div class="materia">
      <a href="/materia"> MATÉRIAS</a>
    </div>
  </div>
  
  </div>

  <div class="search">
    
 
    <form action="/buscar" method="post">
    
 <div class="search">
    <div class="inputSearch">
   <input type="search" name="filme" placeholder="digite o filme" id="filme"  required>
  
 </div>
  
   <div class="botaoSearch">
     <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 
    </div>
 </div>
  
  {{#if error_msg}}
  <div class="alert_error">{{error_msg}}</div>
{{/if}}
 
</form>

 
    </div>
   
      


<body>
{{{body}}}


</body>
</html>
