<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<div class="head">
    <div class="title">
        <h2>terror no ar</h2>
    </div>
    <div class="buscar">
        <a href="/buscar">BUSCAR</a>
    </div>
    <div class="home">
        <a href="/">INSERIR</a>
    </div>
    
    <div class="listar">
        <a href="/listar">LISTAR</a>
    </div>
    <div class="deletar">
        <a href="/deletar">DELETAR</a>
    </div>
   
</div>
<body>
{{{body}}}

<div class="rodape">
    <h2>footer</h2>
</div>
</body>
</html>
