<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>horror em foco</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

  
  

    <div class="main">
        
 
   
    <div class="rotas">
        
         <div class="home">
        <a href="/buscar">BUSCAR</a>
    </div>
    
    <div class="inserir">
        <a href="/inserir">INSERIR</a>
    </div>
    
    
    <div class="listarFilmes">
        <a href="/listar">LISTAR</a>
    </div>
    <div class="deletar">
        <a href="/deletar">DELETAR</a>
    </div>
    <div class="atualizar">
        <a href="/atualizar">ATUALIZAR</a>
    </div>
    </div>
        <div class="title">
        <div class="logo"> 
             <img src="/imagens/logo.png" alt="">
        </div>
           
     </div>
   </div>



<body>
{{{body}}}


</body>
</html>
