<div class="atualizar">
  <div class="form">
    <form action="/atualizar" method="post">
   <h3>ATUALIZE UM FILME</h3>
 <div class="inputs">
   <input type="text" name="filme" placeholder="digite o filme" id="filme" >
  <input type="number" name="ano" placeholder="digite o ano do filme" id="ano" >
  <input type="text" name="diretor" placeholder="digite o diretor do filme" id="diretor" >
  <textarea placeholder="Digite a sinopse  aqui..." name="sinopse" id="sinopse" ></textarea>
  <textarea placeholder="Digite as curiosidades aqui..." name="curiosidades" id="curiosidades"></textarea>
  <input type="text" name="elenco" placeholder="digite o elenco do filme" id="elenco">
  <input type="text" name="imagem" placeholder="digite o caminho da imagem do filme" id="filme" >
 
 </div>
  <div class="btn">
    <input type="submit" value="atualizar">
  </div>
      {{#if success_msg}}
  <div class="alert success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert error">{{error_msg}}</div>
{{/if}}
</form>
  </div>

</div>