<div class="deletarDestaque">
    
  <div class="form">
    <form action="/deletarDestaque" method="post">
   <h3>DELETE UM DESTAQUE AQUI</h3>
 <div class="inputs">
   <input type="text" name="filme" placeholder="digite o filme" id="filme"  required>
  
 </div>
  <div class="btn">
    <input type="submit" value="deletar">
  </div>
    {{#if success_msg}}
  <div class="alert_success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert_error">{{error_msg}}</div>
{{/if}}
 
</form>
  </div>
  
</div>