*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
   
    
}

.main {
    width: auto;
    height: auto;
    display: flex;
    justify-content:center;
    margin: 0 2em;
}

.imagem_main img {
   
    width: 900px;
    mix-blend-mode: lighten;
    height: auto;
   
}

.title{
  width: 300px;
  display: block;
  justify-content: space-evenly;
  padding:  0 auto;
  margin: 0 auto;
 
}

.buscar {
   margin: 5em;
   margin-left:  30%;
 
}


.buscar .campoBusca input {
    text-align: center;
}




.title  img{
    margin-right: 0 auto;
    margin-top:auto ;
    margin-left: 0 auto;
    width: 400PX;
    mix-blend-mode: lighten;
}

.title .buscar {
    margin-right: 4em;
    
}

.botao  {
    color: #ccc;
}

 .rotas {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    border-bottom: 1px solid green;
   
    

   
}

.btn input{
    text-align: center;
    margin: 2em 36.3%;
    background-color: green;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
}

.redesSociais {
    margin: 2em 21%;
    display: flex;
    justify-content: space-evenly;
    
}

.redesSociais p {
    text-align: center;
    color: #fff;
    margin-left: 2em;
}

.redesSociais i {
    color: green;
}


.rotas a {
    text-decoration: none;
    color: orange;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2em;
  
   
}

.rotas .home,
.rotas .inserir,
.rotas .listarFilmes,
.rotas .deletar,
.rotas .atualizar {
    transition: 0.5s;
}

.rotas .home:hover,
.rotas .inserir:hover, 
.rotas .listarFilmes:hover,
.rotas .deletar:hover, 
.rotas .atualizar:hover {
    transform: scale(1.4);
}

.home  i{
  margin: 0 0.5em;
}






/*listar filmes*/





.form {
    border-radius: 20px;
    display: block;
    width: 600px;
    height: auto;
    margin:5% 30%;
   
    padding: 2em 0;
    
   
 
}



.form h3 {
    color: #ccc;
    text-align: center;
    font-size: 23px;
    margin: 1em 0;
}

.inputs input, textarea {
    
    text-align: center;
    height: 30px;
   width: 50%;
   margin: 0.5em 25%;
   
}

.inputSearch input{
    height: 24px;
    text-align: center;
    width: 200px;
    border: none;
border-radius: 20px;
}

 .search {
   padding: 0 10px;
   display: flex;
   justify-content: center;
}

.botaoSearch button{
margin: 0 7px;
height: 24px;
border-radius: 20px;
background-color: green;
color: #fff;
transition: 0.2s;
}

.botaoSearch button:hover {
transform: scale(1.2);
}

.botaoSearch button i{
   width: 70px;
   height: auto;
}





.listaFilme {
   
 width: 100%;
 padding: 20px;
}

.listar {
   
 max-width: 1200px;
 margin: 2em auto;
}

.listar h2 {
    color: orange;
    text-align: center;
    margin-bottom: 30px;
}


.movieFound {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
   
   
    
}

.movieFound h3 {
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
  
   
}

.movieSearch {
    width: 60%;
    max-width: auto;
    height: auto;
    margin: 0 32%;
    padding: 5px;
    border-radius: 20px;
}

.movieSearch h3 {
    color: #ccc;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
   margin: 0 -12%;
}


 .filme {
    background-color: #111;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left:-17%;
   
    width:100% ;
    max-width: auto;
    display: block;
    
    align-items: center;
    justify-content: center;
    
    
    padding: 20px ;
    height: auto;
}

.filmeEncontrado {
    display:flex;
    justify-content: space-between;

}


.filme h3 {
    margin: 1em 0;
    text-align: center;
    color: #ccc;
}



.filme .desc p {
    display: block;
    justify-content: flex-start;
    text-align: left;
    width:auto;
    max-width: 400px;
    height:  auto;
    margin: 0 auto;
    font-size:  18.4px;
    padding:5px  ;
   
}



 .filme .image img {
   width: auto;
   max-width: 400px;
   height: auto;
   margin: 0 auto;
  
   
}


.filmeLista {
    background-color: #111;
    border: 1px solid orange;
    border-radius: 10px;
    overflow: hidden;
    width: 250px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: tranform 0.3ease;
   
   
}

.filmeLista:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.desc {
    margin: 0.5em;
    padding: 10px;
    text-align: center;
    
    
    
}


.listaFilme .tituloFilme {
    color: orangered;
    margin-bottom: 10px;
    
}

.listaFilme,.desc p {
    color: #ccc;
    margin: 5px 0;
    padding: 5px;
}

.inserirFilme form{
  
    border: 1px solid #fff;
    width: 100%;
    border-radius: 20px;
   
    
}


.deletar form,
.atualizar form,
.buscar form  {
    
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
  
   
}



.formBusca form {
   
    border: 1px solid #fff;
    width: 600px;
    border-radius: 20px;
  
    
}

.formBusca h3 {
    color: #ccc;
    margin: 2em 0;
}






.buscar input[type="text"] {
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: none;
}



.alert_sucess {
    color: green;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.alert_error {
    font-size: 20px;
    color: red;
    text-align: center;
    padding: 10px;
}

.part2 {
    width: 100%;
    height: auto;
    background-color: #111;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    padding:0 5em;
   
    
}

.posts_recentes
 {
    margin: 1em 0;
    height: auto;
    width:100%;
    
    padding: 0 10%;
    
    

  
}

.post {
    width: 100%;
    height: auto;
    margin: 0 auto;
   
   
}

.post .title_recentes,
.post .title_destaques {
    color: #555;
    text-align: center;
   text-transform: uppercase;
   margin: 10px 0;
}

.posts_recentes h2,
.destaques h2 {
    font-size: 30px;
    color: #777;
    text-align: center;
    align-items: center;
    line-height: 50px;
    margin:1em auto;
    padding: 0 auto;
    width: auto;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.posts_recentes p,
.destaques p {
    color: #fff;
    padding: 7px;
    margin: 0 auto ;
    padding: 0 auto;
    width: 100%;
    text-align: start;
    font-size: 23px;

}

.posts_recentes img
 {
    margin:0 auto;
    height: auto;
    
}

.destaques img {
   height: auto;
   size: auto;
}

.destaques {
    margin: 1em 0;
    height:auto;
    width:auto;
   
    padding: 0 10%;
}







  